.barbers {
  &__container {
    padding: 30px 35px;
    display: grid;
    grid-template-columns: repeat(3, $card-size);
  
    row-gap: 30px;
    column-gap: 40px;
    justify-content: center;
  }

  &__section-title {
    padding-top: 80px;

    font-weight: 700;
    font-size: 48px;
    line-height: 48px;

    text-align: center;
    letter-spacing: -1.5px;

    color: #fff;
  }
}