.contacts {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 715px;
    background-image: url("https://images.unsplash.com/photo-1628274459813-74bc7e2c53b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    // top: 50%;
    // left: 50%;
    gap: 20px;
    z-index: 3;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-size: 85px;
    height: 100px;
    line-height: 85px;
  }

  &__phone {
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    line-height: 25px;
  }
}
