.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  
  background-color: #17120D;
  background-size: cover;
  background-position: center;
  
  font-size: 20px;
  color: #bebbba;
}
